
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Introduction Store</title>

    <link rel="stylesheet" type="text/css" href="/css/profiles.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>

<div class="margin ">
   <div class="container-xl px-4 mt-4">
     <div class="row flex">
           <div class="margin-item">
                <div class="img_store">
                    <img src="/img/about/store.png" >
                </div>
                <div class="store">HONIE COSMETICS - GENUINE COSMETICS PARK in HCMC</div>
                <div class="flex mt-3">
                    <img src="/img/icon/location.png" class="img_icon">
                    <a href="/store/map" class="text_store hover-note">270 Nguyen Van Cu, District 5, HCM City</a>
                </div>
                <div class="flex">
                     <img src="/img/icon/phone.png"  class="img_icon">
                    <div class="text_store" >(+84) 8888 1234</div>
                </div>
                <div class="flex">
                    <img src="/img/icon/email.png"  class="img_icon">
                    <div  class="text_store">honie_cosmetic@gmail.com</div>
                </div>
            </div>

            <div class="vertical-line margin-item"></div>

             <div class="margin-item box ">
                <div >
                    
                    <div class="text_store_detail"> +   Honie Cosmetics officially open on 11/13/2017, has been one of the most favorite cosmetics store of younger.</div>
                    <div class="text_store_detail"> +   Honie Cosmetics specialized in distribution and distribution of cosmetic products from korea, japan, usa,... with guarantee of products quality and origin, lam thao cosmetics committed to the quality products. , imported directly at the store and without intermediates.</div>
                    <div class="text_store_detail"> +   We wish to bring customers a lot of choices with the hottest products, continuously updated with the most reasonable price to bring you better experience. at the same time, honie always has promotions, points and customer care policies always always grateful to customers for choosing customers and cosmetics company ❤️</div>
                    <div class="text_store_detail"> +   Honie Cosmetics hope that can compact with you in the process of care and beauty for yourself, help you be confidential and better every day ❤️</div>
                    

                </div>
            
            </div>
    </div>
   </div>

</div>