
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Introduction Store</title>

    <link rel="stylesheet" type="text/css" href="/css/profiles.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>


<div class="margin ">
   
        <div class="modalcontent mb-3" >
            <div >Location of Honie Cosmetic </div>
            <div class="text">270 Nguyen Van Cu, District 5, Ho Chi Minh City</div>
        </div>
    <iframe class="location " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4695.030490195545!2d106.681061900406!3d10.762889916393505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1c06f4e1dd%3A0x43900f1d4539a3d!2sUniversity%20of%20Science%20-%20VNUHCM!5e0!3m2!1sen!2s!4v1684706141759!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>