<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Forgotpass</title>

  <link rel="stylesheet" type="text/css" href="/css/forgotpass.css" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
        <div class="d-table-cell align-middle">
          <div class="card">
            <div class="card-body">
              <div class="text-center mt-2">
                <p class="lead">
                  <b style="color: #227c70; font-weight: 700">FORGOT PASSWORD</b>
                </p>
              </div>
              <div class="m-sm-4">
             <form action="resetpass" method="post">
                  <div class="form-group">
                    <label class="medium mb-1" for="inputEmailAddress">Email address</label>
                    <input class="form-control" id="inputEmailAddress" type="email"
                      placeholder="Enter your email address" name="email" />
                  </div>
                  <div class="text-center mt-3">
                    <button type="submit" value="resetpass">Send Email</button>
                    <button ><a href="/auth/sign" style="color: aliceblue; text-decoration: none;">Back to Sign page</a></button>
                  </div>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</body>

</html>