<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Forgotpass</title>

  <link rel="stylesheet" type="text/css" href="/css/forgotpass.css" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>

<body>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
        <div class="d-table-cell align-middle">
          <div class="card">
            <div class="card-header">Reset password</div>
            <div class="card-body">
              <div class="text-center mt-2">
                <p class="lead">
                  <b style="color: #227C70; font-weight: 700">RESET PASSWORD</b>
                </p>
              </div>
              <div class="m-sm-4">
                <form method="post" action="/auth/resetPassword">
                  <div class="form-group">
                    <input type="hidden" value="{{token}}" name="token">
                    <label class="medium mb-1" for="inputEmailAddress">Email
                      address</label>
                    <input class="form-control" id="inputEmailAddress" type="email"
                      placeholder="Enter your email address" value="{{email}}" name="email" required readonly />
                    <label class="medium mb-1" for="inputPassword">Enter the new Password</label>
                    <input class="form-control" id="inputPassword" type="password" placeholder="Enter your Password"
                      name="password">
                  </div>
                  <div class="text-center mt-3">
                    <button>Reset password</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>