<head>
	<link rel="stylesheet" type="text/css" href="/css/signup.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="signup" method="post">
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
			<input type="text" placeholder="Name" name="userName" />
			<input type="email" placeholder="Email" name="userEmail" id="email" />
			<input type="password" placeholder="Password" name="userPassword" />
			<div class="error" id="error-email-existed" style="display: none">Email existed!</div>
			<div class="success" id="success-email" style="display: none">Email available</div>

			<button type="submit" value="signup" id="register-button">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="signin" method="post">
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="email" placeholder="Email" name="email" />
			<input type="password" placeholder="Password" name="password" />
			<a href="/account/resetpass">Forgot your password?</a>
			<button type="submit" value="signin">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
<script src="/js/signup.js"></script>
{{#extend "scripts"}}
<script>
	$('#email').change(function () {
		$.getJSON('/auth/verify-email/' + $(this).val(), function (data) {
			if (data) {
				$('#error-email-existed').hide();
				$('#success-email').show();
				$('#register-button').attr('disabled', false)
			} else {
				$('#error-email-existed').show();
				$('#success-email').hide();
				$('#register-button').attr('disabled', true)
			}
		});
	});
</script>
{{/extend}}