<<<<<<< HEAD
/* Course Detail */

.course_detail {
    padding-top: 80px;
}

.spad {
    padding-top: 100px;
    padding-bottom: 100px;
}

.course__details__text h3 {
    font-weight: 700;
    margin-bottom: 16px;
}


.course__details__rating {
    font-size: 14px;
    margin-bottom: 12px;
}

.course__details__rating i {
    margin-right: -2px;
    color: #EDBB0E;
}

.course__details__rating span {
    color: #dd2222;
    margin-left: 4px;
}

.course__details__price {
    font-size: 30px;
    color: #dd2222;
    font-weight: 600;
    margin-bottom: 15px;
}

.course__details__text p {
    margin-bottom: 45px;
}

.primary-btn {
    /* Text */
    padding: 16px 28px 14px;
    margin-right: 6px;
    margin-bottom: 5px;

    /* Button */
    display: inline-block;
    font-size: 14px;
    padding: 10px 28px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: #EEB00D;
    letter-spacing: 2px;
}

.heart-icon {
    font-size: 16px;
    padding: 13px 16px 13px;
    display: inline-block;
    color: #6f6f6f;
    background: #f5f5f5;
    border-radius: 100%;
}

.heart-icon:hover {
    background-color: black;
    color: red;
}

.btn-buy {
    width: 46%;
    margin-top: 10px;
}
.btn_addCart{
    background-color: #CB9074;
    color: #ffffff;
}
.btn_addCart:hover {
    color: #000000;
    font-weight: 600;
}

/* hr {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid red;
} */




.course__item__pic>ul,
.course__details__text>ul,
.course-detail-tab>ul {
    line-height: 200%;
    padding-left: 0;
}

.course__details__text>ul>li,
.course-detail-tab>ul>li,
.course__item__pic__hover>li {
    list-style-type: none;
}

b {
    margin-right: 100px;
}

.course-detail-tab {
    padding-top: 85px;
}



/* .changeColor .active a,
.changeColor .active a:hover {
    background-color: red;
} */

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #6f6f6f;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

.course__details__tab__desc {
    padding-top: 44px;
}

.course__details__tab__desc h6 {
    font-weight: 700;
    color: #333333;
    margin-bottom: 26px;
    font-size: 1.5rem;
}

.course__details__tab__desc p {
    color: #666666;
}

.flip_chapter {
    /* margin-bottom: 10px; */
    border: 1px solid black;
    text-align: center;
    background-color: #F7F9FA;
    font-size: 1.1rem;
    font-weight: 600;
}

.flip_chapter>button {
    width: 100%;
    border: none;
}

.panel_lessons {
    padding: 10px;
    border: 1px solid black;
    display: none;
    text-align: center;
}

.link_video_lesson {
    /* color: #EEB00D; */
    display: flex;
    justify-content: space-between;
    border: none;
}

.link_video_lesson>a>p {
    color: #EEB00D;
}


/* Infomation of Instructor */
.instructorName {
    margin-bottom: 0.4rem;
}

.instructorName a {
    color: #EEB00D;
    box-sizing: border-box;
    font-weight: 700;
    line-height: 1.2;
    font-size: 1rem;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}

.instructorName p {
    color: #6a6f73;
    box-sizing: border-box;

}

.instructorImgandInfo {
    margin-top: 0 auto;
    display: flex;
}

.imgInstructorBox {
    flex: 0 0 auto;
    min-width: 0.1rem;
    margin: 0 1.6rem 0 0;
}

.instructorImg {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    height: 150px;
    width: 150px;

}

.ud-unstyled-list {
    margin-top: 20px;
    display: block;
}

.listItem {
    color: #1c1d1f;
    padding: 0;
    display: flex;
    margin: 0;
}

.listItem>p {
    margin-left: 1.6rem;

}

.course__details__tab__desc>p {
    margin-top: 1.6rem;
    margin-bottom: 0.8rem;
}

.reviewsAndRating {
    margin-bottom: 3.2rem;
    /* display: flex; */
    align-items: center;
    flex-wrap: wrap;
}

.studentComment {
    margin-right: 1.6rem;
    padding: 2.4rem 0 3.2rem;
    border-top: 1px solid #d1d7dc;
}

.review_Heading {
    flex: initial;
    order: 2;
}

.review_Heading_Name_Rating {
    display: flex;
    flex-direction: column;
}

.review_Heading_Rating_1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0.1rem;
    gap: 0.4rem;
}

.review_Heading_Rating_2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0.1rem;
    gap: 0.4rem;
    margin-left: 4.6rem;
}

.review_Heading_Rating_2 i {
    margin-right: -2px;
    color: #EDBB0E;
}

.review_Heading_time {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: #6a6f73;
}

.imgStudentBox {
    flex: 0 0 auto;
    min-width: 0.1rem;
    margin: 0 1.6rem 0 0;
    box-sizing: border-box;
}

.imgStudent {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    height: 40px;
    width: 40px;
}





/* Related Course */
.featured-course {
    padding-bottom: 50px;
    margin-top: 0 auto;
}

.section-title {
    margin-bottom: 50px;
    text-align: center;
}

.section-title h2 {
    color: #1c1c1c;
    font-weight: 700;
    position: relative;
}

.section-title h2:after {
    position: absolute;
    left: 0;
    bottom: -15px;
    right: 0;
    height: 4px;
    width: 80px;
    background: #CB9074;
    content: "";
    margin: 0 auto;
}

.featured__product__title {
    margin-bottom: 70px;
}



/* Hover vô ảnh sẽ hiện ra list icon */
.course__item:hover .course__item__pic .course__item__pic__hover {
    bottom: 0px;

}

.course__item__pic {
    height: 240px;
    width: 210px;
    position: relative;
    overflow: hidden;
    /*Hide icon và 1 bên hình*/
    background-color: #F3F6FB;
}

.course__item__pic a img {
    height: 230px;
    width: 210px;
}

.course__item__pic__hover {
    position: absolute;
    left: 0;
    bottom: -55px;
    width: 100%;
    text-align: center;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}

.course__item__pic__hover li {
    list-style: none;
    display: inline-block;
    margin-right: 6px;
}

.course__item__pic__hover li:last-child {
    margin-right: 0;
}

.course__item__pic__hover li:hover a {
    background: #7fad39;
    border-color: #7fad39;

    
}

.course__item__pic__hover li:hover a i {
    color: #ffffff;
    transform: rotate(360deg);

}

.course__item__pic__hover li a {
    font-size: 16px;
    color: #1c1c1c;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ebebeb;
    background: #ffffff;
    display: block;
    border-radius: 50%;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    justify-content: center;
}

.course__item__pic__hover li a i {
    position: relative;
    transform: rotate(0);
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.course__item__text {
    text-align: center;
    padding-top: 15px;
}

.course__item__text h6 {
    margin-bottom: 10px;
}

.course__item__text h6 a {
    color: #252525;
}

.course__item__text h5 {
    color: #252525;
    font-weight: 700;
}
=======

/***************** product-detail *********************/
product-detail:before, product-detail:after {
  box-sizing: border-box;
  background: #E2DDDE;
  font: 12px/18px "Lato", Arial, sans-serif;
}

.board-container{
  background: white; 
  width: 800px;
  margin: 50px auto;
  border-radius: 20px;
  position: relative;
  box-shadow: -1px 15px 30px -6px rgba(196,196,196,1);
}

strong {
  font-weight:900;
}
/***************** product-detail *********************/

/****************** Begin left details ****************/
.left {
  float: left;
  background: #FF0235;
  background: linear-gradient(#FF0237, #FF4928);
  width: 340px;
  color: white;
  padding: 30px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
} 
.product-shot {
  width: 250px;
  margin-left: -54px;
  /* margin-top: -20px; */
}
.product-title {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.product-price, .product-price-details {
  text-align: center;
}
.product-price {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}
/****************** End left details ****************/


/****************** Begin Right details ****************/
.right {
  float: left;
  width: 460px;
  padding: 30px;
  text-transform: uppercase;
}

.product-title {
  font-size: 20px;
}

.label {
  background: #FF3F2A;
  color: white;
  border-radius: 5px;
  padding: 4px 7px;
  font-size: 10px;
  vertical-align: top;
  margin-left: 10px;
}

.product-category {
  margin: 5px 0 10px;    
}

.product-stars {
  margin-bottom: 30px;
}

.gray {
  color: #999;
}

/* list item */
ul.product-tabs {
  margin-bottom: 20px;
}

ul.product-tabs li.active {
  padding-bottom: 3px;
  border-bottom: 3px solid #FF3F2A;
}

ul.product-tabs li.active a {
  color: #FF3F2A !important;
}

ul.product-tabs li {
  display: inline;
  margin-right: 10px;      
  padding: 0 7px;
  color: #FF3F2A;
  padding-bottom: 3px;
  border-bottom: 3px solid #FF3F2A;  
}

ul.product-tabs li a {
  color: #CACACA;
  text-decoration: none;
  font-weight: 700;
}

ul.product-tabs li a:hover ul.product-tabs li a:focus {
  color: #FF3F2A;
}
/* list item */

.tab-content {
  text-transform: none;
  font-size: 14px;
  margin-bottom: 30px;
}

/* Size */
h2.Size {
  font-weight: 500;
  margin-bottom: 10px;
}

.sizes {
  margin-bottom: 20px;
}
.sizes li {
  display: inline;
  font-size: 14px;
  margin-right: 40px;
  padding: 5px;

}
.sizes li a {
  text-decoration: none;        
  color: black;
}

.sizes li.active, .sizes li:hover {
  background: #FF3F2A;
  border-radius: 50%;
  color: white;
}

.sizes li.active > a, .sizes li:hover > a {
  color: white;
}
/* Size */

/* clour */
.colours { 
  margin: 20px 0 60px;
}

.colours li {
  display: inline;
  margin-right: 30px;
}

.colours li.active > a {
  border: 1px solid #00D3EF;
  border-radius: 100%;
  padding: 14px 7px 3px 7px; 
}

.circle {
  border-radius: 50%;
  width: 20px;
  height: 20px; 
  display: inline-block;
}

.blue {
  background: #00D3EF;
}

.orange {
  background: #FF3F2A;
}

.yellow {
  background: #FFD203;
}

.black {
  background: black;
}  
/* clour */

a.btn {
  text-decoration: none;
  background: #CCC;
  color: white;
  padding: 14px 20px;
  font-size: 16px;
  border-radius: 6px;
}

a.btn:hover {
  background: lighten(#CCC, 5%);
}

a.btn-primary {
  background: #00D3EF;;
  margin-right: 20px;
}

a.btn-primary:hover {
  background: lighten(#00D3EF, 5%);
}


/****************** Left Right details ****************/

.close-button {
  position: absolute;
  right: -20px;
  top: -20px;
  font-size: 40px;
  color: #B8B8B8;
  background: white;
  border-radius: 50%;
  padding: 10px 10px 15px 10px;
  box-shadow: -1px 3px 20px -6px rgba(196,196,196,1);
}

.close-button:hover {
  background: #fbfafa;
  cursor: pointer;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
>>>>>>> nvmtri
