<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Check Out</h4>
                    <div class="breadcrumb__links">
                        <a href="/index">Home</a>
                        <a href="/product">Shop</a>
                        <span>Check Out</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <form action="/order" method="get">
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <div class="checkout__order">
                            <h4 class="order__title">Your order</h4>
                            <h3>Total <span>$ {{total}}</span></h3>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5">
                        <div class="Number_method">
                            <h3>Number </h3>
                            <h4>0345678999</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="Number_method">
                            <h2>QR Code</h2>
                            <img src="/img/QRmomo.png" alt="">
                        </div>
                        <button type="submit" class="site-btn ">Finish</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>